@import "../../common/mixins"

.Works
  display: flex
  flex-direction: column
  max-width: 700px 
  width: 100%
  padding: 2rem
  background-color: #00000040
  +media-mw(800px)
    max-width: none
    padding-left: 70px
  +media-mw(425px)
    max-width: 100%
    padding: 2rem 0 2rem 40px
  +media-mh(830px)
    position: absolute
    top: 0

.Works__title
  margin: 0 0 15px 0
  font-size: 40px
  line-height: 40px
  color: #ffffff
  text-align: center
  +media-mh(350px)
    font-size: 30px
  +media-mw(425px)
    font-size: 30px

.Works__cont
  display: flex
  flex-wrap: wrap
  justify-content: center