.App
  position: relative
  width: 100%
  min-height: 100vh
  min-height: calc(var(--vh, 1vh) * 100)
  background: url("./images/cloud-bg.jpg") center center no-repeat
  background-size: cover
  background-attachment: fixed